<!-- Header 3 -->
<div id="header3">
	<!-- Main Navigation -->
	<div class="nav-wrapper">
		<div id="primary-links">
			<ul>
				<li class="first">
					<a href="/" class="active"><span>Home</span></a>
				</li>

				<li class="dropDown">
					<a href="http://nypl.bibliocommons.com/dashboard/user_dashboard"><span>My NYPL</span></a>
					<div class="dropDownContent">
						<ul>
							<li><h5>My Borrowing</h5>
								<ul>
									<li><a href="http://nypl.bibliocommons.com/checkedout" title="">Checked Out</a></li>
									<li><a href="http://nypl.bibliocommons.com/holds/index/active" title="">Holds</a></li>
									<li><a href="http://nypl.bibliocommons.com/fines" title="">Fines</a></li>
									<li class="last"><a href="http://nypl.bibliocommons.com/accountmessages" title="">Library Messages</a></li>
								</ul>
							</li>
							<li><h5>My Shelves</h5>
								<ul>
								<li><a href="http://nypl.bibliocommons.com/collection/show/my/library/completed" title="">Completed</a></li>
								<li><a href="http://nypl.bibliocommons.com/collection/show/my/library/in_progress" title="">In progress</a></li>
								<li><a href="http://nypl.bibliocommons.com/collection/show/my/library/for_later" title="">For later</a></li>
								<li class="last"><a href="http://nypl.bibliocommons.com/lists/show/mine" title="">My Lists</a></li>
								</ul>
							</li>
							<li><h5>My Community</h5>
								<ul>
									<li><a href="http://nypl.bibliocommons.com/trustedsources" title="">I'm Following</a></li>
									<li><a href="http://nypl.bibliocommons.com/ignoredusers" title="">Ignored Users</a></li>
									<li><a href="http://nypl.bibliocommons.com/recently_shared" title="">Recently Shared</a></li>
									<li class="last"><a href="http://nypl.bibliocommons.com/messages" title="">Inbox</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</li>

				<li class="dropDown">
					<a href="http://nypl.bibliocommons.com/dashboard"><span>Explore</span></a>
					<div class="dropDownContent">
						<ul>
							<li><h5>New &amp; Notable</h5>
								<ul>
									<li><a href="http://nypl.bibliocommons.com/dashboard" title="">Recent Activity</a></li>
									<li><a href="http://nypl.bibliocommons.com/explore/index/newly_acquired?f_on_order=false" title="">New Titles</a></li>
									<li><a href="http://nypl.bibliocommons.com/explore/index/awards" title="">Award Winners</a></li>
									<li class="last"><a href="http://nypl.bibliocommons.com/explore/index/best_sellers" title="">Bestsellers</a></li>
								</ul>
							</li>

							<li><h5>Collections</h5>
								<ul>
									<li><a href="http://nypl.bibliocommons.com/search?q=books&amp;t=smart&amp;search_category=keyword&amp;title=Books" title="">Books</a></li>
									<li><a href="/ebooks" title="">E-books &amp; Audiobooks</a></li>
									<li><a href="http://nypl.bibliocommons.com/search?q=movies&amp;t=smart&amp;search_category=keyword&amp;title=Movies" title="">Movies</a></li>
									<li><a href="http://nypl.bibliocommons.com/search?t=smart&amp;search_category=keyword&amp;q=music&amp;commit=Search&amp;searchOpt=catalogue&amp;title=Music+and+R" title="">Music &amp; Recordings</a></li>
									<li><a href="http://nypl.bibliocommons.com/search?t=smart&amp;search_category=keyword&amp;q=periodicals&amp;commit=Search&amp;searchOpt=catalogue" title="">Periodicals</a></li>
									<li><a href="http://digitalgallery.nypl.org/" title="">Images</a></li>
									<li class="last"><a href="/collections/nypl-collections/braille-talking-books" title="">Braille &amp; Talking Books</a></li>
								</ul>
							</li>

							<li><h5>Made at NYPL</h5>
								<ul>
									<li><a href="/blog" title="">Blogs</a></li>
									<li><a href="/voices/audio-video" title="">Audio &amp; Video</a></li>
									<li class="last"><a href="/voices/print-publications" title="">Print Publications</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</li>

				<li class="dropDown"><a href="/collections"><span>Research</span></a>
					<div class="dropDownContent">
						<ul>
							<li><h5>Electronic Resources</h5>
								<ul>
									<li><a href="/node_type_search/subscription_database" title="">Articles and Databases</a></li>
									<li><a href="/events/online-exhibitions" title="">Online Exhibitions</a></li>
									<li><a href="http://digitalgallery.nypl.org/" title="">Digital Gallery</a></li>
									<li><a href="/collections/labs" title="">NYPL Labs</a></li>
									<li class="last"><a href="/online_projects" title="Digital Projects">Digital Projects</a></li>
								</ul>
							</li>

							<li><h5>Tools and Services</h5>
								<ul>
									<li><a href="http://catalog.nypl.org/" title="">Classic Catalog</a></li>
									<li><a href="/collections/nypl-recommendations/guides" title="">Research Guides</a></li>
									<li><a href="/specialindexes" title="">Indexes to NYPL Collections</a></li>
									<li><a href="/ask-nypl/research-questions-reproductions" title="">Get Copies</a></li>
									<li class="last"><a href="/collections/nypl-recommendations" title="">NYPL Recommendations</a></li>
								</ul>
							</li>

							<li><h5>Collections</h5>
								<ul>
									<li><a href="/research-collections" title="">Research Collections</a></li>
									<li><a href="http://archives.nypl.org/" title="">Manuscripts and Archives</a></li>
									<li><a href="http://wallachprintsandphotos.nypl.org/" title="">Prints &amp; Photos Online Catalog</a></li>
									<li class="last"><a href="/collections/nypl-collections/preservation-division" title="">Preservation of NYPL Collections</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</li>

				<li class="dropDown"><a href="/help"><span>Using the Library</span></a>
					<div class="dropDownContent">
						<ul>
							<li><h5>Get Oriented</h5>
								<ul>
									<li><a href="/help/library-card" title="">Get a Library Card</a></li>
									<li><a href="/help/borrowing-materials" title="">Borrowing</a></li>
									<li><a href="/help/finding-things" title="">How To Find Things</a></li>
									<li><a href="/help/computers-internet-and-wireless-access" title="">Computers</a></li>
									<li><a href="/help/community-outreach/services-for-persons-with-disabilities" title="">Accessibility</a></li>
									<li><a href="/help/about-nypl" title="">About the NYPL</a></li>
									<li class="last"><a href="/voices/connect-nypl" title="">Connect with NYPL</a></li>
								</ul>
							</li>

							<li><h5>Services</h5>
								<ul>
									<li><a href="http://nypl.org/ask-nypl" title="">AskNYPL</a></li>
									<li><a href="/help/computers-internet-and-wireless-access/reserving-computer" title="">Reserve a PC</a></li>
									<li><a href="/help/community-outreach" title="">Community Outreach</a></li>
									<li><a href="/ask-nypl/research-questions-reproductions" title="">Get Copies</a></li>
									<li><a href="/help/research-services/interlibrary-loan" title="Interlibrary Loan">Interlibrary Loan</a></li>
									<li><a href="/spacerental" title="">Space Rental</a></li>
									<li class="last"><a href="http://shop.nypl.org/" title="">The Library Shop</a></li>
								</ul>
							</li>

							<li><h5>I am a...</h5>
								<ul>
									<li><a href="/events/teaching-learning" title="">Teacher</a></li>
									<li><a href="/help/getting-oriented/for-job-seekers" title="">Job Seeker</a></li>
									<li><a href="http://smallbiz.nypl.org/" title="">Small Business Owner</a></li>
									<li><a href="/help/getting-oriented/resources-kids" title="">Child</a></li>
									<li><a href="/help/getting-oriented/resources-teens" title="">Teen</a></li>
									<li><a href="/help/community-outreach/services-for-persons-with-disabilities" title="">Person with a Disability</a></li>
									<li><a href="/help/community-outreach/immigrant-services" title="">Recent Immigrant</a></li>
									<li class="last"><a href="http://nypl.org/support" title="">NYPL Donor</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</li>

				<li class="dropDown"><a href="/locations"><span>Locations</span></a>
					<div class="dropDownContent oneLevel">
						<ul>
							<li><a href="/locations#manhattan-list" title="">Manhattan</a></li>
							<li><a href="/locations#bronx-list" title="">The Bronx</a></li>
							<li><a href="/locations#staten-island-list" title="">Staten Island</a></li>
							<li><a href="/locations/schwarzman" title="">Schwarzman Building</a></li>
							<li><a href="/locations/lpa" title="">Library for the Performing Arts</a></li>
							<li><a href="/locations/schomburg" title="">Schomburg Center</a></li>
							<li class="last"><a href="/locations/sibl" title="">Science, Industry and Business Library</a></li>
						</ul>
					</div>
				</li>

				<li class="dropDown"><a href="/events"><span>Classes &amp; Events</span></a>
					<div class="dropDownContent oneLevel">
						<ul>
							<li><a href="/events/exhibitions" title="">Current Exhibitions</a></li>
							<li><a href="/events/public-programs" title="">Programs</a></li>
							<li><a href="/events/classes" title="">Classes</a></li>
							<li><a href="/events/classes/adult-learning-centers" title="">Learn English</a></li>
							<li><a href="/events/tours" title="">Tours</a></li>
							<li><a href="/events/exhibitions-past" title="">Past Exhibitions</a></li>
							<li class="last"><a href="/events/live-nypl" title="">LIVE from the NYPL</a></li>
						</ul>
					</div>
				</li>

				<li class="dropDown"><a href="/support"><span>Support the Library</span></a>
					<div class="dropDownContent oneLevel">
						<ul>
							<li><a href="https://secure3.convio.net/nypl/site/SPageServer?pagename=donation_form&amp;JServSessionIdr003=dwcz55yj27.app304a&amp;s_src=FRQ14ZZ_TNN" title="">Donate</a></li>
							<li><a href="/support/membership" title="">Membership</a></li>
							<li><a href="/help/about-nypl/volunteer-nypl" title="">Volunteer</a></li>
							<li><a href="https://secure3.convio.net/nypl/site/Donation2?df_id=1660&amp;1660.donation=form1&amp;s_src=FRW14HM_QTNN" title="Honor and Memorial Gifts">Honor and Memorial Gifts</a></li>
							<li><a href="/support/benefit-events" title="">Benefit Events</a></li>
							<li><a href="/support/planned-giving" title="">Planned Giving</a></li>
							<li><a href="http://shop.nypl.org/" title="">Shop</a></li>
							<li class="last"><a href="/support/donate" title="">More Ways to Give</a></li>
						</ul>
					</div>
				</li>

				<li class="last"><a href="/ask-nypl"><span>Help</span></a></li>

				<li id="mobile-login-element">
					<a class="mobile-login-button" href="" title="Log in" id="sso-logout-mobile"><span class="label">Log In</span></a>
				</li>
			</ul>
		</div>
	</div>
	<!-- END Main Nav -->
</div>
<!-- End Header 3 -->